<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rssreader.foree.rssreader">
    <!-- 读sdcard文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DayTheme">
        <activity android:name="com.foree.rssreader.ui.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.foree.rssreader.ui.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.foree.rssreader.ui.ShowDescription"
            android:label="RSSRedar"></activity>
        <activity
            android:name="com.foree.rssreader.ui.SettingsActivity"
            android:label="RSSRedar"></activity>
        <activity
            android:name="com.foree.rssreader.rssinfo.RssAddFeed"
            android:label="RSSRedar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foree.rssreader.ui.MainActivity" />
        </activity>

        <activity
            android:name="com.foree.rssreader.ui.SearchActivity"
            android:label="RSSReader">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.search" />
            </intent-filter>
        </activity>
        <activity android:name="com.foree.rssreader.rssinfo.RssFeedList" />
    </application>

</manifest>
