<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rssreader.foree.rssreader">
    <!-- 读sdcard文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DayTheme">
        <activity android:name="org.foree.duker.ui.activity.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.foree.duker.ui.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="org.foree.duker.ui.activity.DescriptionActivity"
            android:label="@string/app_name" />
        <activity
            android:name="org.foree.duker.ui.activity.SettingsActivity"
            android:label="@string/app_name">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.foree.duker.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="org.foree.duker.ui.activity.AboutActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.foree.duker.ui.activity.SettingsActivity" />
            <intent-filter>
                <action android:name=".AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="org.foree.duker.ui.activity.LicenseActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.foree.duker.ui.activity.AboutActivity" />
            <intent-filter>
                <action android:name=".LisenceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.foree.duker.ui.activity.AddFeedActivity"
            android:label="@string/app_name">
            <!--左上角添加返回导航键 -->
            <!--<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.foree.rssreader.ui.activity.MainActivity" />-->
        </activity>
        <activity android:name="org.foree.duker.ui.activity.FeedListActivity" />
    </application>

</manifest>
